Flask~=1.1.2
Werkzeug~=1.0.1
autopep8
flake8
celery<5
redis
python-dotenv~=0.15.0
flower
requests~=2.25.1
ccxt~=1.41.62
pymongo~=3.11.3
dnspython
flask_cors
pandas<1.2
pymongo
gunicorn
authlib
six
cryptography
