<!doctype html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GCKTJX2F4P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-GCKTJX2F4P');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Algorithmic Crypto</title>

    <!-- meta -->
    <meta name="description"
          content="Highly profitable trading automation bot optimized for the cryptocurrency market. Utilizing proven algorithms to outperform Bitcoin and Ethereum.">
    <meta name="author" content="Algorithmic Crypto | Johannes Krumm">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- /meta -->

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/combine/npm/@blueprintjs/core@3/lib/css/blueprint.min.css,npm/normalize.css@8,npm/nouislider@14/distribute/nouislider.min.css,npm/slick-carousel@1/slick/slick-theme.min.css,npm/slick-carousel@1/slick/slick.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/home.css"/>
    <!-- /styles -->

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://ik.imagekit.io/jtrj8won4m0/Favicon/apple-touch-icon_YFUgoJ-R3.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://ik.imagekit.io/jtrj8won4m0/Favicon/favicon-32x32_TOD0SybU0Z.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://ik.imagekit.io/jtrj8won4m0/Favicon/favicon-16x16_jQpGbq3s1pkW.png">
    <link rel="manifest" href="/static/icon/site.webmanifest">
    <link rel="mask-icon" href="https://ik.imagekit.io/jtrj8won4m0/Favicon/safari-pinned-tab_YTovCc7XAL.svg"
          color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Algorithmic Crypto">
    <meta name="application-name" content="Algorithmic Crypto">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage"
          content="https://ik.imagekit.io/jtrj8won4m0/Favicon/mstile-144x144_j9yDvao51J3Td.png">
    <meta name="theme-color" content="#333333">
</head>
<body id="container">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?G-GCKTJX2F4P"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Wrap all page content here -->
<div id="wrap">
    <header id="hero">
        <a href="/">
            <div class="jumbo">
                <h1>Algorithmic Crypto</h1>
                <p>Highly profitable trading automation optimized for the cryptocurrency market. <br>
                    Utilizing sophisticated and mathematical proven algorithms to outperform<br>
                    the best performing assets of this century.</p>
            </div>
        </a>
    </header>
    <nav class="bp3-navbar" id="navbar">
        <div class="flexbox" style="margin: 0 auto; max-width: 1400px;">
            <div class="bp3-navbar-group first-nav">
                <a href="/">
                    <img src="https://ik.imagekit.io/jtrj8won4m0/robot_w0LgHZZA7KpLq.svg" alt="Logo">
                    <div class="bp3-navbar-heading">Algorithmic Crypto</div>
                </a>
            </div>
            <div class="bp3-navbar-group second-nav">
                <a href="#intro">
                    <button class="bp3-button bp3-minimal" id="intro-nav">Intro</button>
                </a>
                <span class="bp3-navbar-divider"></span>
                <a href="#algorithms">
                    <button class="bp3-button bp3-minimal" id="algorithms-nav">Algorithms</button>
                </a>
                <span class="bp3-navbar-divider"></span>
                <a href="#features">
                    <button class="bp3-button bp3-minimal" id="features-nav">Features</button>
                </a>
                <span class="bp3-navbar-divider"></span>
                <a href="#pricing">
                    <button class="bp3-button bp3-minimal" id="pricing-nav">Pricing</button>
                </a>
            </div>
            <div class="bp3-navbar-group last-nav">
                <a href="/login">
                    <button class="bp3-button bp3-minimal">Sign Up</button>
                </a>
                <span class="bp3-navbar-divider"></span>
                <a href="/login">
                    <button class="bp3-button bp3-minimal">Login</button>
                </a>
            </div>
        </div>
    </nav>
    <!-- Begin page content -->
    <main id="content" role="main">
        <section id="intro" class="intro">
            <div class="slick-responsive">
                <div>
                    <h3>Win Rate</h3>
                    <p>65.47 %</p></div>
                <div>
                    <h3>Ratio Win/Loss</h3>
                    <p>9.73</p></div>
                <div>
                    <h3>BTC Outperform</h3>
                    <p>2.38</p>
                </div>
                <div>
                    <h3>Sharpe Ratio</h3>
                    <p>0.76</p>
                </div>
            </div>
            <div class="flexbox">
                <div>
                    <h3>Simple Setup</h3>
                    <p>No configuration or technical understanding required! Just connect your exchange.</p>
                </div>
                <div>
                    <h3>Features</h3>
                    <p>Portfolio insights, notifications, tax reports, payouts with the mobile and web app.</p>
                </div>
                <div>
                    <h3>Secure</h3>
                    <p>All funds stay on your exchange! You only grant permissions to trade not to withdraw.</p>
                </div>
            </div>
        </section>

        <section class="welcome">
            <div>
                <h2>Stop Trading. Start automating.</h2>
                <div>
                    <p>80% of traders aren't profitable. 80% of all trading volume comes from algorithms.</p>
                    <p>
                        You are spending time and effort to research for trade setups? You miss trades or get
                        stopped out by a sudden drop? Automate your trading and become much more profitable!<br>
                        Just like investment funds have been doing for years.
                    </p>
                    <a href="/login">
                        <button class="action bp3-button bp3-large bp3-outlined bp3-minimal">
                            <h3>Connect Your Exchange</h3>
                        </button>
                    </a>
                </div>
            </div>
            <div class="exchanges">
                <img loading="lazy" src="https://ik.imagekit.io/jtrj8won4m0/kraken_NreTC_CrCqZVI.svg" alt="Kraken"
                     height="31">
                <img loading="lazy" src="https://ik.imagekit.io/jtrj8won4m0/binance_gBURjiIlSt.svg" alt="Binance"
                     height="45">
                <img loading="lazy" src="https://ik.imagekit.io/jtrj8won4m0/Coinbase_uTaKlNKOmOxc8.svg" alt="Coinbase"
                     height="38">
            </div>
        </section>
        <section id="algorithms" class="bots">
            <h2>Algorithms</h2>
            <p>Backtesting results since 2016</p>
            <div>
                <div>
                    <h3>BTC</h3>
                    <p class="small">Outperform buy and hold to accumulate more BTC.</p>
                    <table class="bp3-html-table bp3-html-table-bordered bp3-small">
                        <thead>
                        <tr>
                            <th>BTC Backtesting</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>WIN RATE</td>
                            <td>65.47 %</td>
                        </tr>
                        <tr>
                            <td>RATIO WIN/LOSS</td>
                            <td>9.73</td>
                        </tr>
                        <tr>
                            <td>BTC OUTPERFORM</td>
                            <td>2.38</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3>ETH</h3>
                    <p class="small">Bet on the most popular smart contract blockchain and biggest DEFI plattform.</p>
                    <table class="bp3-html-table bp3-html-table-bordered bp3-small">
                        <thead>
                        <tr>
                            <th>ETH Backtesting</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>WIN RATE</td>
                            <td>61.24 %</td>
                        </tr>
                        <tr>
                            <td>RATIO WIN/LOSS</td>
                            <td>7.54</td>
                        </tr>
                        <tr>
                            <td>ETH OUTPERFORM</td>
                            <td>3.61</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3>ETH BTC Ratio</h3>
                    <p class="small">Allocate portfolio depending on the ETH/BTC Ratio.</p>
                    <span class="bp3-tag bp3-minimal">Coming Soon</span>
                </div>
                <div>
                    <h3>Altcoin</h3>
                    <p class="small">Automated portfolio allocation between BTC, ETH, ADA, DOT, LTC, LINK.</p>
                    <span class="bp3-tag bp3-minimal">Coming Soon</span>
                </div>
            </div>
        </section>
        <section id="features">
            <h2>Features</h2>
            <div class="flexbox product container">
                <div>
                    <h3>Portfolio</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div>
                    <h3>Notifications</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div>
                    <h3>Tax Report</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <span class="bp3-tag bp3-minimal">Coming Soon</span>
                </div>
                <div>
                    <h3>Payout</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="ui">
                <img src="https://ik.imagekit.io/jtrj8won4m0/ui_pWYzOjc1KtshT.jpg" loading="lazy"
                     class="bp3-elevation-3 bp3-interactive">
            </div>
        </section>
        <section id="pricing">
            <h2>Pricing</h2>
            <p class="center">50% early bird sale for the first 100 customers! All plans include entire access.</p>
            <div class="flexbox pricing">
                <div><a href="/login">
                    <div class="bp3-card bp3-elevation-2 bp3-interactive">
                        <h3>Monthly Subscription</h3>
                        <div class="price"><span class="big">$ 15</span><span class="small">/month</span></div>
                    </div>
                </a>
                    <p class="tiny">Credit Card, PayPal, Apple Pay, Google Pay, Alipay, ...</p>
                    <div class="payment">
                        <img src="https://ik.imagekit.io/jtrj8won4m0/stripe_jWGJ4VccWh.svg" alt="Stripe" loading="lazy"
                             class="stripe">
                        <img src="https://ik.imagekit.io/jtrj8won4m0/PayPal_WxYJQMNEW.svg" alt="PayPal" loading="lazy"
                             class="paypal">
                    </div>
                </div>
                <div>
                    <a href="/login">
                        <div class="bp3-card bp3-elevation-2 bp3-interactive">
                            <h3>Cryptocurrency Payment</h3>
                            <div class="price">
                                <span class="big">$</span>
                                <span id="slider-value-price" class="big">45</span></div>
                        </div>
                    </a>
                    <div id="slider"></div>
                    <p id="slider-value"></p>
                    <div class="payment">
                        <img src="https://ik.imagekit.io/jtrj8won4m0/Coinbase_uTaKlNKOmOxc8.svg" alt="Coinbase"
                             loading="lazy" class="coinbase">
                    </div>
                </div>
                <div><a href="/login">
                    <div class="bp3-card bp3-elevation-2 bp3-interactive">
                        <h3>Lifetime access</h3>
                        <div class="price"><span class="big">$ 500</span></div>
                    </div>
                </a>
                    <p class="tiny">Credit Card, Debit Card, PayPal, Apple Pay, Google Pay, Alipay, BTC, ETH,
                        LTC, ...</p>
                    <div class="payment">
                        <img src="https://ik.imagekit.io/jtrj8won4m0/stripe_jWGJ4VccWh.svg" alt="Stripe" loading="lazy"
                             class="stripe">
                        <img src="https://ik.imagekit.io/jtrj8won4m0/PayPal_WxYJQMNEW.svg" alt="PayPal" loading="lazy"
                             class="paypal">
                        <img src="https://ik.imagekit.io/jtrj8won4m0/Coinbase_uTaKlNKOmOxc8.svg" alt="Coinbase"
                             loading="lazy" class="coinbase">
                    </div>
                </div>
            </div>
            <button class="action bp3-button bp3-large bp3-outlined bp3-minimal bp3-intent-primary"
                    href="/login">
                <h3>Connect Your Exchange</h3>
            </button>
        </section>
        <footer>
            <h1>Algorithmic Crypto</h1>
            <div class="bottom flexbox">
                <div>
                    <a href="/">© 2021 Algorithmic Crypto</a>
                </div>
                <div>
                    <a href="#">Impressum</a>
                    <a href="#">Terms of Use</a>
                    <a href="#">Cookie Statement</a>
                    <a href="#">Sitemap</a>
                </div>
            </div>
        </footer>
    </main>

</div>

<script src="https://cdn.jsdelivr.net/combine/npm/nouislider@14,npm/jquery@3,npm/slick-carousel@1"></script>
<script type="text/javascript" src="/static/js/home.js" defer></script>
</body>
</html>
