<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Algorithmic Crypto</title>

    <!-- meta -->
    <meta name="description"
          content="Free highly profitable algorithmic trading signals optimized for the cryptocurrency market. Combining stochastic momentum oscillators, volatility and RSI divergence.">
    <meta name="author" content="Algorithmic Crypto | Johannes Krumm">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- /meta -->

    <link type="text/css" rel="stylesheet" href="/static/css/normalize.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/nouislider.min.css">
    <link type="text/css" rel="stylesheet" href="/static/js/libs/slick/slick.css">
    <link type="text/css" rel="stylesheet" href="/static/js/libs/slick/slick-theme.css">
    <link type="text/css" rel="stylesheet" href="/static/css/blueprint.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/home.css"/>
    <!-- /styles -->

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
    <link rel="manifest" href="/static/icon/site.webmanifest">
    <link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Algorithmic Crypto">
    <meta name="application-name" content="Algorithmic Crypto">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/static/icon/mstile-144x144.png">
    <meta name="theme-color" content="#333333">

</head>
<body id="container">
<!-- Wrap all page content here -->
<div id="wrap">
    <header id="hero">
        <a href="/">
            <div class="jumbo">
                <h1>Algorithmic Crypto</h1>
                <p>Highly profitable trading automation optimized for the cryptocurrency market. <br>
                    Utilizing sophisticated and mathematical proven algorithms to outperform<br>
                    the best performing assets of this century.</p>
            </div>
        </a>
    </header>
    <nav class="bp3-navbar" id="navbar">
        <div class="flexbox" style="margin: 0 auto; max-width: 1400px;">
            <div class="bp3-navbar-group first-nav">
                <a href="/">
                    <img src="/static/icon/apple-touch-icon-60x60-precomposed.png" alt="Logo">
                    <div class="bp3-navbar-heading">Algorithmic Crypto</div>
                </a>
            </div>
            <div class="bp3-navbar-group second-nav">
                <a href="#intro">
                    <button class="bp3-button bp3-minimal" id="intro-nav">Intro</button>
                </a>
                <span class="bp3-navbar-divider"></span>
                <a href="#algorithms">
                    <button class="bp3-button bp3-minimal" id="algorithms-nav">Algorithms</button>
                </a>
                <span class="bp3-navbar-divider"></span>
                <a href="#features">
                    <button class="bp3-button bp3-minimal" id="features-nav">Features</button>
                </a>
                <span class="bp3-navbar-divider"></span>
                <a href="#pricing">
                    <button class="bp3-button bp3-minimal" id="pricing-nav">Pricing</button>
                </a>
            </div>
            <div class="bp3-navbar-group last-nav">
                <a href="/login"><button class="bp3-button bp3-minimal">Register</button></a>
                <span class="bp3-navbar-divider"></span>
                <a href="/login"><button class="bp3-button bp3-minimal">Login</button></a>
            </div>
        </div>
    </nav>
    <!-- Begin page content -->
    <main id="content" role="main">
        <section id="intro" class="intro">
            <div class="slick-responsive">
                <div>
                    <h3>Win Rate</h3>
                    <p>65.47 %</p></div>
                <div>
                    <h3>Ratio Win/Loss</h3>
                    <p>9.73</p></div>
                <div>
                    <h3>BTC Outperform</h3>
                    <p>2.38</p>
                </div>
                <div>
                    <h3>Sharpe Ratio</h3>
                    <p>0.76</p>
                </div>
            </div>
            <div class="flexbox">
                <div>
                    <h3>Simple Setup</h3>
                    <p>No configuration or technical understanding required! Just connect your exchange.</p>
                </div>
                <div>
                    <h3>Features</h3>
                    <p>Portfolio insights, notifications, tax reports, payouts with the mobile and web app.</p>
                </div>
                <div>
                    <h3>Secure</h3>
                    <p>All funds stay on your exchange! You only grant permissions to trade not to withdraw.</p>
                </div>
            </div>
        </section>

        <section class="welcome">
            <div>
                <h2>Stop Trading. Start automating.</h2>
                <div>
                    <p>80% of traders aren't profitable. 80% of all trading volume comes from algorithms.</p>
                    <p>
                        You're spending time and effort to research for trade setups? You miss trades or get
                        stopped out by a sudden drop? Automate your trading and become much more profitable!<br>
                        Just like investment funds have been doing for years.
                    </p>
                    <button class="action bp3-button bp3-large bp3-outlined bp3-minimal bp3-intent-primary"
                            href="/login">
                        <h3>Connect Your Exchange</h3>
                    </button>
                    <div class="exchanges">
                        <img loading="lazy" src="/static/img/kraken.png" alt="Kraken" height="31">
                        <img loading="lazy" src="/static/img/binance.png" alt="Binance" height="45">
                        <img loading="lazy" src="/static/img/coinbase.png" alt="Coinbase" height="38">
                    </div>
                </div>
            </div>
        </section>
        <section id="algorithms" class="bots">
            <h2>Algorithms</h2>
            <p>Backtesting results since 2016</p>
            <div>
                <div>
                    <h3>BTC</h3>
                    <p class="small">Outperform buy and hold to accumulate more BTC.</p>
                    <table class="bp3-html-table bp3-html-table-bordered bp3-small">
                        <thead>
                        <tr>
                            <th>BTC Backtesting</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>WIN RATE</td>
                            <td>65.47 %</td>
                        </tr>
                        <tr>
                            <td>RATIO WIN/LOSS</td>
                            <td>9.73</td>
                        </tr>
                        <tr>
                            <td>BTC OUTPERFORM</td>
                            <td>2.38</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3>ETH</h3>
                    <p class="small">Bet on the most popular smart contract blockchain and biggest DEFI plattform.</p>
                    <table class="bp3-html-table bp3-html-table-bordered bp3-small">
                        <thead>
                        <tr>
                            <th>ETH Backtesting</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>WIN RATE</td>
                            <td>61.24 %</td>
                        </tr>
                        <tr>
                            <td>RATIO WIN/LOSS</td>
                            <td>7.54</td>
                        </tr>
                        <tr>
                            <td>ETH OUTPERFORM</td>
                            <td>3.61</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3>ETH BTC Ratio</h3>
                    <p class="small">Allocate portfolio depending on the ETH/BTC Ratio.</p>
                    <p>Backtest available soon.</p>
                </div>
                <div>
                    <h3>Altcoin</h3>
                    <p class="small">Automated portfolio allocation between BTC, ETH, ADA, DOT, LTC, LINK.</p>
                    <p>Backtest available soon.</p>
                </div>
            </div>
        </section>
        <section id="features">
            <h2>Features</h2>
            <div class="flexbox product container">
                <div>
                    <h3>Portfolio</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div>
                    <h3>Notifications</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div>
                    <h3>Tax Report</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div>
                    <h3>Payout</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
            </div>
            <div class="ui">
                <img src="/static/img/ui.jpg" loading="lazy" class="bp3-elevation-3 bp3-interactive">
            </div>
        </section>
        <section id="pricing">
            <h2>Pricing</h2>
            <p class="center">50% early bird sale for the first 100 customers! All plans include entire access.</p>
            <div class="flexbox pricing">
                <div>
                    <div class="bp3-card bp3-elevation-2 bp3-interactive">
                        <h3>Monthly Subscription</h3>
                        <div class="price"><span class="big">$ 15</span><span class="small">/month</span></div>
                        <p class="small">Credit Card, PayPal, Apple Pay, Google Pay, SEPA, Alipay, ...</p>
                        <div class="payment">
                            <img src="/static/img/stripe.svg" alt="Stripe" loading="lazy" class="stripe">
                            <img src="/static/img/PayPal.svg" alt="PayPal" loading="lazy" class="paypal">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="bp3-card bp3-elevation-2 bp3-interactive">
                        <h3>Cryptocurrency Payment</h3>
                        <div class="price">
                            <span class="big">$</span>
                            <span id="slider-value-price" class="big">45</span>
                            <div id="slider"></div>
                            <p id="slider-value"></p>
                        </div>
                        <p class="small">BTC, ETH, LTC, ...</p>
                        <div class="payment">
                            <img src="/static/img/Coinbase.svg" alt="Coinbase" loading="lazy" class="coinbase">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="bp3-card bp3-elevation-2 bp3-interactive">
                        <h3>Lifetime access</h3>
                        <div class="price"><span class="big">$ 500</span></div>
                        <p class="small">Credit Card, Debit Card, PayPal, Apple Pay, SEPA, Alipay, Google Pay, BTC, ETH,
                            LTC, ...</p>
                        <div class="payment">
                            <img src="/static/img/stripe.svg" alt="Stripe" loading="lazy" class="stripe">
                            <img src="/static/img/PayPal.svg" alt="PayPal" loading="lazy" class="paypal">
                            <img src="/static/img/Coinbase.svg" alt="Coinbase" loading="lazy" class="coinbase">
                        </div>
                    </div>
                </div>
            </div>
            <button class="action bp3-button bp3-large bp3-outlined bp3-minimal bp3-intent-primary"
                    href="/login">
                <h3>Connect Your Exchange</h3>
            </button>
        </section>
        <footer>
            <h1>Algorithmic Crypto</h1>
            <div class="bottom flexbox">
                <div>
                    <a href="/">© 2021 Algorithmic Crypto</a>
                </div>
                <div>
                    <a href="#">Impressum</a>
                    <a href="#">Terms of Use</a>
                    <a href="#">Cookie Statement</a>
                    <a href="#">Sitemap</a>
                </div>
            </div>
        </footer>
    </main>

</div>

<script type="text/javascript" src="/static/js/libs/jquery-3.5.1.min.js"></script>
<script src="/static/js/libs/nouislider.min.js"></script>
<script src="/static/js/libs/slick/slick.min.js"></script>
<script type="text/javascript" src="/static/js/home.js" defer></script>
</body>
</html>
